/*adding fonts to the web site*/
@font-face{
	font-family: ando-normal;
	src : url('../assets/fonts/ando-normal.ttf');
}

@font-face{
	font-family: ando-bold;
	src : url('../assets/fonts/ando-bold.ttf');
}

body{
	background:linear-gradient(to bottom , #123 10%, #fff 100%);
	margin-bottom: 30px;
	color: #fff;
	font-family: 'ando-bold';
}

#bottom{
	display: none;
}

html{
	direction: rtl;
}

body h4{
	color: #fff;
	padding: 10px;
}

header button , header img {
	width: 40px;
	height: 25px;
	padding: 0px;
	margin: 2px;
	border : none;
}

#list{
	padding: 10px;
	margin: 10px;
	color: #ddd;
	font-weight: bold;
	font-size: 15px;
}

#list a{
	display: inline;
	text-decoration: none;
	color: #444;
	margin: 5px;
	font-size: 20px;
	background-color: #fff;
	padding: 5px;
	border-radius: 10px;
	max-width: 120px;
	text-align: center;
}

#list a:hover{
	color: #666;
}

.cat{
	padding: 1%;
	width: 16%;
	text-align: center;
	color: #333;
	background-color: #fff;
	margin:1%;
	border-radius: 10px;
	font-size: 13px;
	box-shadow: 0px 5px 1px 0px rgb(255, 187, 1);
	float: right;
	font-family: 'ando-bold';
	/*text-align: start;
	unicode-bidi: plaintext;
	color: #000;
	font-weight: bold;
	font-size: 15px;
	background-color: #fff;
	padding: 10px;
	margin: 11px;
	border-radius: 10px;
	float: right;
	width: 21%;
	height: 100px;
	box-shadow: 2px 2px 5px gray;*/
}

.cat-long{
			text-align: start;
		unicode-bidi: plaintext;
	color: #000;
	font-weight: bold;
	font-size: 15px;
	background-color: #fff;
	padding: 10px;
	margin: 11px;
	border-radius: 10px;
	float: right;
	width: 20%;
	height: 100px;
	box-shadow: 2px 2px 5px gray;
}

.cat-long img{
   height: 90px;
   width: 80%;
}

.cat img{
   height: 90px;
   width: 80%;
}

footer{
	display: inline;
	position: fixed;
	padding: 10px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	background-color: #234;
	bottom: 0px;
	width: 70%;
}

.product{
	background-color: #eee;
	text-align: start;
	width: 16%;
	margin: 1%;
	padding: 1%;
	float: right;
	box-shadow: 1px 2px 2px gray;
	border-radius: 10px;
}

.product img{
	border-radius: 10px;
	/*box-shadow: 2px 2px 2px black;*/
	width: 100%;
	height: 150px;
}

.product b{
	font-weight: normal;
	display: block;
	direction: auto; 
	text-align: right;
	unicode-bidi: plaintext;
	font-size: 18px;
	padding: 5px;
}

.product p{
	font-weight: normal;
	display: block;
	direction: auto; 
	text-align: right;
	unicode-bidi: plaintext;
	font-size: 18px;
	padding: 5px;
}

.detailes{
	width: 100%;
	text-align: center;
	align-items: center;
	/*background-color: #abc;*/
}



.detailes .right img{
	width: 100%;
	height: 300px;

}

.detailes .right {
	width: 45%;
	float: right;
	padding: 30px;
}

.detailes .left {
	float: left;
	width: 45%;
	padding: 30px;
}

.detailes .right b{
	display: block;
	margin-top: 10px;
}

.detailes .left button{
	background-color: orange;
	color: #000;
	border :solid 2px gray;
	padding: 5px;
	width: 100%;
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
	border-radius: 10px;
}

.detailes .left textarea{
	width: 98%;
	margin-top: 15px;
}

.detailes .left .info{
	width: 24%;
	float: left;
	margin: 2px;
	background-color: #fff;
	text-align: center;
	color: #000;
	font-style: italic;
	border-radius: 10px;
}

.detailes .left .info .h{
	color: gray;
	font-weight: normal;
	font-style: oblique;
}

.detailes .left .info h4{
	font-size: 15px;
	color: #000;
}

input{
	text-align: center;
}


.emp-card{
	font-size: 15px;
	background-color: #fff;
	text-align: start;
	width: 21%;
	margin: 1%;
	padding: 1%;
	border-radius: 10px;
	height: 160px;
	float: right;
    box-shadow: 1px 2px 2px gold;
}


/* the text of the card */
.emp-card p{
  font-size: 15px;
  color: #000;
}

.emp-card img{
 width: 25%;
 height: 150px;
 float: right;
}

#buttom{
	display: none;
}


html , form , p , b , body  , .btn , h1 , h2 , h3 , div , .cat , .cat-long , marquee , .row , a , #list , #list a  {
		direction: auto; 
		text-align: start;
		unicode-bidi: plaintext;
}

@media only screen and (max-width: 800px) {

#bottom{text-align: end;
	text-align: left;
	direction: ltr;
	text-align: center;
	width: 85%;
	display: block;
	position: fixed;
	bottom: 0px;
	padding: 5px;
	background-color: #123;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 5px;
	border-radius: 20px;
}

#bottom span{
	size: 20px;
	/*display: block;*/
	margin: 10px;
}

#bottom a{
	color: #fff;
	text-decoration: none;
}

#bottom a:hover{
	color: gold;
}

#bottom a:active{
	color: gold;
}

.detailes .left .info{
 width: 32%;
}

.detailes , .detailes .left , .detailes .right , textarea , button {
	margin: 0px;
	width: 98%;
	padding: 5px;
}


.product{
	width: 45%;
}

form{
	padding: 5px;
}

#list{
	display: block;
}

#list a{
	font-size: 16px;
	display: inline;
	text-align: center;
}

input{
	width: 85%;
}

.cat {
	width: 92%;
	margin:3%;
	padding: 1%;
}

.cat-long{
	width: 39%;
}

.emp-card{
	width: 93%;
	margin: 2%;
}

}