/*adding fonts to the web site*/
@font-face{
	font-family: ando-normal;
	src : url('../assets/fonts/ando-normal.ttf');
}

@font-face{
	font-family: ando-bold;
	src : url('../assets/fonts/ando-bold.ttf');
}

body{
	background:linear-gradient(to bottom , #123 20%, #fff 15%);
	/*background-color: #eee;*/
	color: #fff;
	font-family: 'ando-bold';
}


/*DESIGIN THE MAIN SECTION*/

#main{
	border-radius: 15px;
	margin-top: 10px;
	background-color: #fff;
	color: #000;
}

#mian h3{
	color: #000;
	padding:0;margin: 0;
}

#main p{
	color: gray;
	padding:0;margin: 0;
}

/***************************/

/*DESIGIN THE HERO STYLE*/

#hero{
	padding: 10px;
	border-radius: 15px;
	background-color: #fff;
	height: 400px;
	color: #000;
}

#hero h3{
	padding: 0px;
	margin: 0px;
	color: #000;
	font-family: 'ando-bold';
	font-size: 20px;
}

#hero p{
	padding: 0px;
	margin: 0px;
	color: gray;
	font-family: 'ando-normal';
	font-size: 15px;
}

#hero #testimonials{
	height: 300px;
}

#hero .swiper-slide{
	
	height: 300px;
}

#hero .swiper-slide img{
	width: 100%;
	height: 250px;
	border-radius: 15px;
}

/**************************/

#login{
	font-family: 'ando-bold';
}

#header{
	padding: 0px;
	margin: 0px;
}

/*useful classes :*/
.full{
	margin: 10px;
	width: 98%;
}


/*LOGIN DESIGIN */
#login{
	text-align: center;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #123;
}

/*PAGE TITLE DESIGIN*/
#page-title{
	padding: 15px;
	background-color: #123;
	color: #eee;
	margin: 10px;
	font-family: 'ando-bold';
	border-radius: 10px;
	font-size: 15px;
	border-bottom: solid 3px #fff;
}

a{
	text-decoration: none;
}

/*CREATE NEW POST STYLE*/
#post{
	padding: 10px;
}

#post img{
	width: 50px;
	height: 50px;
	border:solid 2px #ffe;
	padding: 2px;margin: 5px;
	border-radius: 50px;
}

#post span{
	font-size: 12px;
	font-family: 'ando-bold';
}

#post button{
	padding: 10px;
	background-color: #123;
	color: gold;
	margin: 10px;
	font-family: 'ando-bold';
	border-radius: 10px;
	width: 200px;
}

#post .attach{
	width: 50px;
	height: 50px;
	background-color: #aba;
	border:none;
	margin: 5px;
	color: #000;
}

#post textarea{
	width: 95%;
	padding: 5px;
	margin: 5px;
	height: 60px;
	font-family: 'ando-normal';
}


/*-----------------------------------------------------*/


/*--------------------FORUM DESIGIN--------------------*/

.forum-card{
	color: #000;
	background-color: #eee;
	width: 48%;
	float: right;
	margin: 1%;
	font-family: 'ando-bold';
}

.forum-card img{
	width: 60px;
	height: 60px;
	border:solid 2px #ffe;
	padding: 2px;
	margin: 5px;
	border-radius: 50px;
	float: right;
}

.forum-card .topic-image{
	width: 20%;
	height: 50px;
	border-radius: 0px;
}

.forum-card .name{
	color: red;
	padding: 10px;
	font-size: 20px;
}

.forum-card .name{
	color: #000;
	padding: 10px;
	margin: 5px;
}

.forum-card .date{
	color: #000;
	font-size: 13px;
	margin: 5px;
}

.forum-card .loc{
	margin: 5px;
	color: #000;
	font-size: 13px;
}

.forum-card .more{
	float: left;
	padding: 10px;
}

.forum-card p{
	padding: 10px;
	text-indent: 10px;
	font-size: 15px;
	font-family: 'ando-normal';
}

.forum-card span{
	padding: 5px;
}

/*-----------------------------------------------------*/


/*THE MAIN WEB SITE CARDS DESIGIN*/

/*SERVICE CARD*/

.service_card{
	padding: 5px;
	background-color: #eee;
	margin: 1%;
	width: 17%;
	float: right;
	z-index: 2;
	font-family: 'ando-normal';
	height: 280px;
	border-radius: 10px;
}

.service_card img{
	width: 100%;
	height: 150px;
	z-index: 3;
	margin-top:-20px;
}

.service_card .fav{
	position: relative;
	top: 5px;
	right: 5px;
	color: red;
	z-index: 4;
	float: right;
}

.service_card .loc{
	display: block;
	font-size: 10px;
	padding: 5px;
}

.service_card .name{
	display: block;
	font-size: 15px;
	padding: 5px;
	font-family: 'ando-bold';
}

.service_card .price{
	display: block;
	font-size: 20px;
	padding: 5px;
	font-weight: bold;
}

/************************************************/



#bottom{
	display: none;
}

html{
	direction: rtl;
}

body h4{
	color: #fff;
	padding: 10px;
}

header button , header img {
	width: 40px;
	height: 25px;
	padding: 0px;
	margin: 2px;
	border : none;
}

#list{
	padding: 10px;
	margin: 10px;
	color: #ddd;
	font-weight: bold;
	font-size: 15px;
}

#list a{
	display: inline;
	text-decoration: none;
	color: #444;
	margin: 5px;
	font-size: 20px;
	background-color: #fff;
	padding: 5px;
	border-radius: 10px;
	max-width: 120px;
	text-align: center;
	border-radius: solid 2px gold; 
}

#list a:hover , #list a:active {
	background-color: gold;
	color: #000;
}

.streach-cat{
	background-color: red;
}

.cat{
	padding: 0px;
	width: 18%;
	text-align: center;
	background-color: #eee;
	margin:1%;
	border-radius: 5px;
	font-size: 14px;
	box-shadow: 2px 3px 5px black;
	float: right;
	font-family: 'ando-bold';
	height: 150px;
	border-radius: 10px;
	/*text-align: start;
	unicode-bidi: plaintext;
	color: #000;
	font-weight: bold;
	font-size: 15px;
	background-color: #fff;
	padding: 10px;
	margin: 11px;
	border-radius: 10px;
	float: right;
	width: 21%;
	height: 100px;
	box-shadow: 2px 2px 5px gray;*/
}

.cat b{
	text-align: center;
	align-items: center;
	vertical-align: center;
	height: 50px;
	display: block;
	background-color: #00000099;
	width: 91%;
	color: #ffffff;
	position: relative;
	top: -70px;
	padding: 10px;
	border-radius: 0px 0px 10px 10px;
}

.cat img{
   width: 100%;
   height: 150px;
   border-radius: 10px;
}



footer{
	display: inline;
	position: relative;
	padding: 10px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	background-color: #234;
	bottom: 0px;
	width: 70%;
	z-index: 5;
}

.product{
	background-color: #eee;
	text-align: start;
	width: 16%;
	margin: 1%;
	padding: 1%;
	float: right;
	box-shadow: 1px 2px 2px gray;
	border-radius: 10px;
}

.product img{
	border-radius: 10px;
	/*box-shadow: 2px 2px 2px black;*/
	width: 100%;
	height: 150px;
}

.product b{
	font-weight: normal;
	display: block;
	direction: auto; 
	text-align: right;
	unicode-bidi: plaintext;
	font-size: 18px;
	padding: 5px;
}

.product p{
	font-weight: normal;
	display: block;
	direction: auto; 
	text-align: right;
	unicode-bidi: plaintext;
	font-size: 18px;
	padding: 5px;
}

.detailes{
	width: 100%;
	text-align: center;
	align-items: center;
	/*background-color: #abc;*/
}

.detailes .right img{
	width: 100%;
	height: 300px;

}

.detailes .right {
	background-color: #fff;
	width: 45%;
	float: right;
	padding: 30px;
	color: #000;
	text-align: right;
	font-family: 'ando-normal'
	font-weight:normal;
}

.detailes .left {
	background-color: #fff;
	float: left;
	width: 45%;
	padding: 30px;
	color: #000;
	text-align: right;
}

.detailes .right h3{
	font-family: 'ando-bold';
	color: #000;
	padding: 5px;
	margin: 5px;
}

.detailes .right b{
	display: block;
	margin-top: 10px;
	font-size: 20px;
	font-family: 'ando-bold';
	color: red;
	color: #000;
	padding: 5px;
	margin: 0px;
}

.detailes .right p{
	border-radius: 10px;
	margin: 5px;
	background-color: #fff;
	padding: 10px;
	font-family: 'ando-normal';
	font-size: 18px;
	color: #555;
	box-shadow: 1px 2px 3px gray;
}

.detailes .left button{
	background-color: orange;
	color: #000;
	border :solid 2px gray;
	padding: 5px;
	width: 100%;
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
	border-radius: 10px;
}

.detailes .left textarea{
	width: 98%;
	margin-top: 15px;
}

.detailes .left .info{
	width: 24%;
	float: left;
	margin: 2px;
	background-color: #fff;
	text-align: right;
	color: #000;
	font-style: italic;
	border-radius: 10px;
	font-size: 10px;
	box-shadow: 1px 2px 3px gray;
}

.detailes .left .info .h{
	color: #000;
	font-weight: normal;
	font-style: oblique;
	font-size: 14px;

	padding: 5px 10px 5px 0px ;
}

.detailes .left .info h4{
	font-size: 13px;
	color: #555;
	margin: 0px;
	padding: 5px 10px 5px 0px ;
	
}

input{
	text-align: center;
}


.emp-card{
	font-size: 15px;
	background-color: #fff;
	text-align: start;
	width: 21%;
	margin: 1%;
	padding: 1%;
	border-radius: 10px;
	height: 160px;
	float: right;
    box-shadow: 1px 2px 2px gold;
}


/* the text of the card */
.emp-card p{
  font-size: 15px;
  color: #000;
}

.emp-card img{
 width: 25%;
 height: 150px;
 float: right;
}

#buttom{
	display: none;
}


/*html , form , p , b , body  , .btn , h1 , h2 , h3 , div , .cat , .cat-long , marquee , .row , a , #list , #list a  {
		direction: auto; 
		text-align: start;
		unicode-bidi: plaintext;
}*/

@media only screen and (max-width: 800px) {

.service_card{
	width: 45%;
	margin: 1%;
}

#bottom{

	text-align: end;
	text-align: left;
	direction: ltr;
	text-align: center;
	width: 85%;
	display: block;
	position: fixed;
	bottom: 0px;
	padding: 5px;
	background-color: #123;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 5px;
	border-radius: 20px;
		display: none;
}

#bottom span{
	size: 20px;
	/*display: block;*/
	margin: 10px;
}

#bottom a{
	color: #fff;
	text-decoration: none;
}

#bottom a:hover{
	color: gold;
}

#bottom a:active{
	color: gold;
}

.detailes .left .info{
 width: 32%;
}

.detailes , .detailes .left , .detailes .right , textarea , button , #post button {
	margin: 0px;
	width: 98%;
	padding: 5px;
}


.product{
	width: 45%;
}

form{
	padding: 5px;
}

#list{
	display: block;
}

#list a{
	font-size: 16px;
	display: inline;
	text-align: center;
}

input{
	width: 85%;
}

.cat {
	width: 46%;
	margin:2%;
}

.cat-long{
	width: 39%;
}

.emp-card{
	width: 42%;
	margin: 2%;
	padding: 2%;
	height: 300px;
	border-radius: 5px;
}

.emp-card img{
	width: 100%;
	height: 110px;
	border-bottom: solid 2px black;
	margin-bottom: 10px;
}

.emp-card img{
	width: 100%;
	height: 110px;
	border-bottom: solid 2px black;
	margin-bottom: 10px;
}

.forum-card{
	width: 98%;
}

.forum-card .topic-image{
	width: 97%;
	height: 90px;
}