body{
	background-color: #ddd;
}

/*The Desigin Of the header*/
header{
	background-color: #234;
}

header button , header img {
	width: 40px;
	height: 25px;
	padding: 0px;
	margin: 2px;
	border : none;
}

#list{
	padding: 10px;
	margin: 10px;
	color: #ddd;
	font-weight: bold;
	font-size: 15px;
}

#list a{
	display: inline;
	text-decoration: none;
	color: #444;
	margin: 5px;
	font-size: 20px;
	background-color: #fff;
	padding: 5px;
	border-radius: 10px;
	max-width: 120px;
	text-align: center;
}

#list a:hover{
	color: #666;
}

.cat{
			text-align: start;
		unicode-bidi: plaintext;
	color: #000;
	font-weight: bold;
	font-size: 15px;
	background-color: #fff;
	padding: 10px;
	margin: 11px;
	border-radius: 10px;
	float: left;
	width: 15%;
	height: 100px;
	box-shadow: 2px 2px 5px gray;
}

.cat-long{
			text-align: start;
		unicode-bidi: plaintext;
	color: #000;
	font-weight: bold;
	font-size: 15px;
	background-color: #fff;
	padding: 10px;
	margin: 11px;
	border-radius: 10px;
	float: left;
	width: 20%;
	height: 100px;
	box-shadow: 2px 2px 5px gray;
}

.cat-long img{
   height: 90px;
   width: 80%;
}

.cat img{
   height: 90px;
   width: 80%;
}

footer{
	display: inline;
	position: fixed;
	padding: 10px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	background-color: #234;
	bottom: 0px;
	width: 70%;
}

.product{
	background-color: #eee;
	text-align: start;
	width: 16%;
	margin: 1%;
	padding: 1%;
	float: right;
	box-shadow: 1px 2px 2px gray;
	border-radius: 10px;
}

.product img{
	border-radius: 10px;
	/*box-shadow: 2px 2px 2px black;*/
	width: 100%;
	height: 150px;
}

.product b{
	font-weight: normal;
	display: block;
	direction: auto; 
	text-align: right;
	unicode-bidi: plaintext;
	font-size: 18px;
	padding: 5px;
}

.product p{
	font-weight: normal;
	display: block;
	direction: auto; 
	text-align: right;
	unicode-bidi: plaintext;
	font-size: 18px;
	padding: 5px;
}

.detailes{
	width: 100%;
	text-align: center;
	align-items: center;
	/*background-color: #abc;*/
}

.detailes .right {
	width: 45%;
	float: left;
	padding: 30px;
}

.detailes .right img{
	width: 100%;
	height: 300px;

}

.detailes .left {
	width: 45%;
	padding: 30px;
}

.detailes .right b{
	display: block;
	margin-top: 10px;
}

.detailes .left button{
	background-color: orange;
	color: #000;
	border :solid 2px gray;
	padding: 5px;
	width: 100%;
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
	border-radius: 10px;
}

.detailes .left textarea{
	width: 98%;
	margin-top: 15px;
}

.detailes .left .info{
	width: 24%;
	float: right;
	margin: 2px;
	background-color: #fff;
	text-align: center;
	color: #000;
	font-style: italic;
	border-radius: 10px;
}

.detailes .left .info .h{
	color: gray;
	font-weight: normal;
	font-style: oblique;
}



html , form , p , b , body  , .btn , h1 , h2 , h3 , div , .cat , .cat-long , marquee , .row , a , #list , #list a  {
		direction: auto; 
		text-align: start;
		unicode-bidi: plaintext;
}

input{
	text-align: center;
}


.emp-card{
	background-color: #fff;
	text-align: start;
	width: 21%;
	margin: 1%;
	padding: 1%;
	float: right;
	box-shadow: 1px 2px 2px gray;
	border-radius: 10px;
	height: 160px;
}

.emp-card img{
 width: 25%;
 height: 150px;
 float: right;
}

@media only screen and (max-width: 800px) {

.detailes .left .info{
 width: 23%;
}

.detailes , .detailes .left , .detailes .right , textarea , button {
	margin: 0px;
	width: 98%;
	padding: 5px;
}


.product{
	width: 45%;
}

form{
	padding: 5px;
}

#list{
	display: block;
}

#list a{
	display: block;
	min-width: 90%;
	text-align: center;
}

input{
	width: 85%;
}

.cat {
	width: 39%;
}

.cat-long{
	width: 39%;
}

.emp-card{
	width: 95%;
}

}